version: '2.17.2'

services:
  cache:
    image: 'bitnami/redis:latest'
    container_name: 'distributed_chat_cache'
    restart: always
    environment:
      - REDIS_PORT_NUMBER=6379
    ports:
      - '6379:6379'

  database:
    image: 'bitnami/postgresql:latest'
    container_name: 'distributed_chat_db'
    ports:
      - '5432:5432'
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=app
    volumes:
      - 'postgresql_data:/bitnami/postgresql'

  backend:
    build: ./backend/
    container_name: 'distributed_chat_backend'
    ports:
      - '3000:3000'
    depends_on:
      - cache
      - database

  frontend:
    build: ./frontend/
    container_name: 'frontend'
    ports:
      - '3333:3333'
    depends_on:
      - backend

volumes:
  postgresql_data:
    driver: local
